<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a {
            border-radius: 4px;
            background-color: #e6e6e6;
            border: none;
            cursor: pointer;
            text-decoration: none;
            color: #000;
            padding: 1em;
        }

        a:hover {
            background: #000;
            transition: all 0.7s;
            color: #fff;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Yes it Working</h1>
    <a href="/suren">{{ file }}</a>
    <form method="POST" action="/saveFileName">
        {% csrf_token %}
        <input type="text" placeholder="Enter Your Name" name="name">
        <button type="submit">Send</button>
    </form>
</body>
</html>