<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <form action="{% url 'createAccount' %}" method="post">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Enter Your name" />
        <input name="email" type="email" placeholder="Enter Your Email" />
        <input name="password" type="password" placeholder="Enter Your password" />
        <input type="submit" value="Sign Up" />
    </form> 
</body>
</html>